@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  background: #0a0a0a;
  height: 60px;
  justify-content: space-between;
  z-index: 999;
}

nav .logo {
  margin: 0px 25px;
  line-height: 60px;
}
nav .logo a {
  color: white;
  font-size: large;
}

nav .menu-icon {
  display: none;
  line-height: 60px;
  margin: 0px 25px;
}

nav .menu-icon i {
  font-size: larger;
  color: white;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 60px;
  float: left;
  width: 200px;
  height: 92vh;
  background: #0a0a0a;
  transition: 0.5s;
}

.contain {
  margin-top: 60px;
  float: right;
  width: calc(100% - 200px);
}
.profile {
  position: relative;
  width: 100%;
  height: 185px;
  background: gray;
  background-image: url("images/background.jpg");
  background-position: center;
  background-size: cover;
}

.profile-pic {
  position: absolute;
  left: 50%;
  top: 185px;
  object-fit: cover;
  border: 2px solid white;
  object-position: center;
  transform: translate(-50%, -50%);
  border-radius: 90px;
}

.userdetail {
  display: grid;
  margin: 20px;
  margin-top: 78px;
  grid-template-columns: max-content auto;
  grid-gap: 10px;
}

.userprofile {
  border: 1px solid lightgrey;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: white;
  padding: 5px;
  justify-items: center;
  height: max-content;
}

.acc {
  display: flex;
  padding: 10px;
}

.acc p {
  margin-left: 4px;
  font-size: 14px;
}

.name {
  text-align: center;
  font-weight: 550;
  margin: 5px 0px;
  margin-top: 15px;
  font-size: 16px;
}

.about {
  font-size: 14px;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
}

.userprofile a {
  color: black;
  padding: 10px;
}

.tital {
  padding: 24px 24px 0px;
  font-size: 20px;
}

.experience {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px 72px 0px 24px;
  grid-gap: 15px;
}

.companylogo {
  width: 56px;
  height: 56px;
  background: gray;
}

.f-16 {
  font-size: 16px;
}

.f-14 {
  font-size: 14px;
}

.education {
  border: 1px solid lightgray;
  margin-top: 10px;
}

.c-exlgray {
  color: #00000099;
}

.experience-detail {
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}

.education-detail {
  display: grid;
  grid-template-columns: max-content auto;
  padding: 20px 72px 0px 24px;
  grid-gap: 15px;
}

@media (max-width: 820px) {
  .userdetail {
    grid-template-columns: auto;
  }
  .userprofile {
    max-width: 500px;
    margin: auto;
  }
}

@media (max-width: 800px) {
  nav .menu-icon {
    display: block;
  }

  .sidebar {
    width: 250px;
    left: -100%;
    z-index: 9999;
  }

  .contain {
    width: 100%;
  }

  .display-sidebar {
    left: 0px !important;
  }
}
